body{
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    color: white;
}

.panel-publi{
    background: rgb(212,69,160);
background: linear-gradient(90deg, rgba(212,69,160,1) 0%, rgba(163,91,171,1) 44%, rgba(84,181,252,1) 100%);
}

.contenedor-card{
    height: 80vh;
}